*{
    
    margin: 0;
    font-family: cursive;
}
.logoh{
    width: 100%;
    height: 80px;
    background-color: white;
    
}
.fa-phone-volume{
    float: right;
    padding-right: 30px;
   
}
img{
    padding-left: 170px;
}
.logob{
    width: 100%;
    height: 132%;
    background-color: #d8d8d8;
}
.sign1{
    width: 430px;
    height: 750px;
    border-radius: 8px;
    background-color: white;
}
.foot2{
    width: 100%;
    height: 100px;
    background-color: #001c40;
    color: #d8d8d8;
    
}
h4{
    color: #FFD43A;
}
h1{
    color:#001c40 ;
}
#colo1{
    color: #001c40;
    
}
.text3{
    width: 370px;
    height: 60px;
    border-radius: 8px;
    border: 2px solid #001c40;
}
.summi1{
    width: 370px;
    height: 60px;
    border-radius: 8px;
    border: 2px solid #001c40;
    background-color: #FFD43A;
    color: #001c40;
    font-weight: bolder;
    font-size: larger;
  
}
::placeholder{
    color: #001c40;
    font-family: cursive;
    text-align: center;
    font-weight: bold;
    font-size: large;
    opacity: 0.3;
}
a{
    text-decoration: none;
    color: #001c40;
    font-weight: bolder;
    font-family: cursive;
}
.summi1{
    width: 370px;
    height: 60px;
    border-radius: 8px;
    border: 2px solid #001c40;
    background-color: #FFD43A;
    color: #001c40;
    font-weight: bolder;
    font-size: 18px;
    border-bottom: 8px solid #001c40;
  
}

.bt{
    margin-left: -190px;
}
  

.fa-headset{
    float: right;
    padding-right: 80px;
    width: 70px;
    height: 50px;
   
}

#suppo1{
    font-size: x-large;
    color: #001c40;
}