*{
    font-family: cursive;
}


.vl{
    border-left: 4px solid #001c40;
    height: 120%;
    position: absolute;
    left: 18%;
    margin-left: -3px;
    top: 0;


  
  }
  .lefts1{
    width: 200px;
    height: 120%;
    background-color: #5D5FEF;
  }
.dashc{
    width: 160px;
    height: 40px;
    background-color: #d8d8d8;
    border-radius: 8px;
    border: 2px solid #001c40;
    margin-top: 40px;

}
.dash1{
    display: flex;
    gap: 310px;
}
#das12{
    font-weight: bolder;
    color: #001c40;
    padding-left: 70px;
    font-size: larger;
    margin-top: 40px;
}
input{
    width: 160px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #001c40;
    margin-top: 40px;
}

::placeholder{
    color: #001c40;
    font-family: cursive;
    text-align: center;
    
    
}
.dash0{
    width: 250px;
    height: 80px;
    background-color: #d8d8d8;
    border-radius: 8px;
    
}
.dash5{
    display: flex;
    gap: 150px;
    padding-left: 50px;
}
h3{
    padding-left: 50px;
    color: #001c40;
}
.dash6{
    display: flex;
    gap: 80px;
    padding-left: 50px;
}
.dash7c{
    padding-left: 470px; 
}
.dash7d{
    padding-left: 20px;
}
.dash9{
    display: flex;
   
    padding-left: 50px;
}
.dash8b{
    padding-left: 40px;
}
.dash8c{
    padding-left: 200px;
}
#buku1{
    margin-top: -30px;
    margin-left: 77px;
    
}
.add1{
    background-color: #5D5FEF;
    color: white;
    margin-left: 700px;
    font-weight: bolder;
}
.dash8f{
    margin-left: 83px;
}



.foot1{
    display: grid;
    grid-gap: 0px 10px;
    grid-template-columns: 213px 213px 213px 213px 213px 213px ;
   color:#d8d8d8;
    background-color: #001c40;
    margin-left: 0px;
  }
  .copy1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1; 
    grid-column-end: 5;
   color: #d8d8d8;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  
    
  }
  
  .copy2{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 5; 
    grid-column-end: 7;
  color: #d8d8d8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  
    
  }
  #poli1{
    padding-left: 100px;
  }
  h4{
    color: #d8d8d8;
  }